.job-from{
  width: 35%;
  display: flex;
  flex-direction: column;
  /* gap: .8rem; */
  height: fit-content;
  padding: 2.5rem;
  background-color: #EEEEEE;
  margin:auto;
  position: relative;
  margin-top: 3rem;
  border-radius: 7px;
  display: flex;
}
.close-icon{
  position: absolute;
  right: 13px;
  top: 13px;
  color: #132754;
}

.close-icon:hover{
  color: #D32F2F;
  cursor: pointer;
}
.text-filed div input ,.text-area div , .text-select div{
  background-color: white;
}
.text-fileds{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}
.text-filed{
  width: 48%;  
}
