
.choose-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 55%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.header-first-step{
  text-align: center;
  color: #1C3879;
  margin-top: 3rem;
}


